:root {
  --main-color: #d6d5c9;
  --breaker-color: #827081;
  --outline-color: #23001e;
}

body {
  background-color: var(--main-color);
}

#header-sect {
  background-color: var(--breaker-color);
  border: 2px solid var(--outline-color);
}

button {
  background-color: var(--breaker-color);
}

#contact-sect {
  background-color: var(--breaker-color);
  border-top: 2px solid var(--outline-color);
}
